src/conf/xml-resources/web-service-references/MeteoSoap/wsdl/localhost_8084/nikfluks_aplikacija_1/MeteoSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.soap.nikfluks.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.soap.nikfluks.nwtis.foi.org/" name="MeteoSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.soap.nikfluks.nwtis.foi.org/" schemaLocation="http://localhost:8084/nikfluks_aplikacija_1/MeteoSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="dajPosljednjihN">
<part name="parameters" element="tns:dajPosljednjihN"/>
</message>
<message name="dajPosljednjihNResponse">
<part name="parameters" element="tns:dajPosljednjihNResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajZadnjeMeteoPodatke">
<part name="parameters" element="tns:dajZadnjeMeteoPodatke"/>
</message>
<message name="dajZadnjeMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeResponse"/>
</message>
<message name="dajSveMeteoPodatkeUIntervalu">
<part name="parameters" element="tns:dajSveMeteoPodatkeUIntervalu"/>
</message>
<message name="dajSveMeteoPodatkeUIntervaluResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeUIntervaluResponse"/>
</message>
<portType name="MeteoSoap">
<operation name="dajPosljednjihN">
<input wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajPosljednjihNRequest" message="tns:dajPosljednjihN"/>
<output wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajPosljednjihNResponse" message="tns:dajPosljednjihNResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<input wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajZadnjeMeteoPodatkeRequest" message="tns:dajZadnjeMeteoPodatke"/>
<output wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajZadnjeMeteoPodatkeResponse" message="tns:dajZadnjeMeteoPodatkeResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeUIntervalu">
<input wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajSveMeteoPodatkeUIntervaluRequest" message="tns:dajSveMeteoPodatkeUIntervalu"/>
<output wsam:Action="http://serveri.soap.nikfluks.nwtis.foi.org/MeteoSoap/dajSveMeteoPodatkeUIntervaluResponse" message="tns:dajSveMeteoPodatkeUIntervaluResponse"/>
</operation>
</portType>
<binding name="MeteoSoapPortBinding" type="tns:MeteoSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajPosljednjihN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeteoSoap">
<port name="MeteoSoapPort" binding="tns:MeteoSoapPortBinding">
<soap:address location="http://localhost:8084/nikfluks_aplikacija_1/MeteoSoap"/>
</port>
</service>
</definitions>